/* Restablecimiento de márgenes y fuentes */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #f5f6f7;
    color: rgb(22, 21, 21);
    padding: 20px;
    text-align: left;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin: 0;
}

/* Contenedor principal */
main {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

/* Botones principales */
.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.button-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Botón común */
.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #616161;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
}

.button img {
    max-width: 85px;
    margin-right: 15px;
}

.button:hover {
    transform: translateY(-3px);
    background-color: rgba(0, 0, 0, 0.05);
}

/* Colores personalizados */
.button.agregar {
    background-color: #b2e0da;
}

.button.pendientes {
    background-color: #efc48c;
}

.button.completadas {
    background-color: #b2e0da;
}

.button.guardadas {
    background-color: #efc48c;
}

.button.eliminadas {
    background-color: #d2a0da;
}

.button.notificaciones {
    background-color: #d2a0da;
}

.button.papelera {
    background-color: #f2e780;
}

/* Espaciado entre filas */
.button-row + .button-row {
    margin-top: 40px;
}

/* Redes sociales */
.social-media {
    margin-top: 50px;
    text-align: center;
}

.social-media img {
    max-width: 300px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #calendarInput {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  


